.footer {
	width: 100%;
	height: 380px;
	background: #111;
	position: relative;
}

.footer-container {
	height: 85%;
	max-width: 1180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.social-media {
	margin-right: 185px;
}

.footer-logo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 90px;
	margin-bottom: 10px;
}

.footer-logo h1 {
	color: #fefefe;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 40px;
}

.footer-logo span {
	font-size: 8px;
	color: #fefefe;
	margin-top: -10px;
	margin-left: 40px;
}

.footer-text {
	color: #ccc;
	font-size: 12px;
	margin-bottom: 15px;
}

.social-icons {
	margin-bottom: 15px;
	padding: 5px;
}

.social-icons i {
	color: #ccc;
	margin-right: 10px;
	cursor: pointer;
}

.social-icons i:hover {
	color: #fefefe;
}

.input-txt {
	height: 40px;
	width: 310px;
	padding: 10px;
	margin-right: 5px;
	border: none;
}

.btn-submit {
	color: #fefefe;
	background: #93bd33;
	font-size: 12px;
	text-transform: uppercase;
	height: 40px;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
}

.btn-submit:active {
	transform: scale(0.98);
}

.footer-links {
	display: flex;
}

.link-wrapper {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-right: 25px;
}

.link-wrapper h2 {
	color: #fefefe;
	font-size: 16px;
	margin-bottom: 20px;
}

.link-item {
	color: #ccc;
	font-size: 12px;
	padding: 10px 0;
	border-bottom: 1px dashed #ccc;
}

.link-item span {
	float: right;
}

.copyright {
	color: #999;
	font-size: 11px;
	text-align: center;
}

.copyright span {
	color: #ccc;
}

/* SCROLL BUTTON */
.btn-wrapp {
	position: absolute;
	bottom: 20px;
	right: 15px;
}

.btn-scroll {
	padding: 7px 10px;
	background: #93bd33;
	color: #fefefe;
}

