.header {
	height: 100px;
	width: 100%;
	background: #f1f1f1;
}

.header-container {
	height: 100%;
	max-width: 1180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.header-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-box i {
	color: #fff;
	background: #93bd33;
	font-size: 8px;
	border-radius: 100%;
	padding: 10px;
	margin-right: 10px;
}

.header-box h3 {
	margin-right: 15px;
}

.header-box p {
	font-size: 10px;
	font-style: italic;
	color: #666;
	letter-spacing: 1.2px;
	margin-top: 6px;
}

.header-tabs {
	display: flex;
}

.header-tabs .header-link {
	color: #222;
	font-size: 12px;
}
