.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #93bd33;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);
}

.logo-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  margin: -7px 0 0 20px;
}

.logo-container h1 {
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.logo-container span {
  font-size: 8px;
  color: #fff;
  margin-top: -10px;
  margin-left: 35px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-left: -560px;
}

.nav-item {
  margin-right: 25px;
}

.nav-link {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
} 

.wrap-icon {
  margin-right: 20px;
}

.nav-icon {
  margin-left: 10px;
}


