* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	list-style-type: none;
	outline: none;
}

html,
body {
	height: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}

.container {
	width: 70%;
	max-width: 845px !important;
	min-height: 100%;
	margin: 0 auto;
}

/* MAIN SECTION */
.main {
	display: flex;
	max-width: 1180px;
	margin: 20px auto;
}

.showcase {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	margin: 0 20px 40px -14px;
}

.title {
	margin-bottom: 20px;
	font-weight: 600;
}

/* NEWS ITEMS */
.section {
	max-width: 800px;
	height: 100%;
}

.section img {
	width: 800px;
	max-width: 100%;
	max-height: 460px;
	height: 100%;
	object-fit: cover;
	margin-bottom: 10px;
	cursor: pointer;
}

.item-category {
	font-size: 10px;
	text-transform: capitalize;
	color: #fefefe;
	background: #93bd33;
	border-radius: 2px;
	padding: 2px 7px;
	margin: 15px 0 10px 0;
}

.item-title {
	font-family: 'Montserrat', sans-serif;
	margin: 10px 0;
	cursor: pointer;
}

.item-text {
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}

.date {
	color: #666;
	font-size: 10px;
}

.author {
	color: #666;
	text-transform: uppercase;
	font-size: 10px;
}

/* NEWS DETAIL */
.news-wrapper {
	max-width: 800px;
	margin: 0 45px 30px 0;
}

.news-wrapper img {
	width: 800px;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 10px 0;
}

/* DROPDOWN */
.dropdown {
	/* margin-top: 150px; */
	margin-bottom: 20px;
}

/* ASIDE */
.aside {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
	margin-top: 58px;
}

/* BANNER COMPONENT */
.banner-box {
	max-width: 300px;
	height: 600px;
	border: 1px solid #999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* SPINNER */
.spinner {
	width: 140px;
	margin-left: 340px;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
	.aside {
		display: none;
	}
}

@media (max-width: 680px) {
	.showcase {
		grid-template-columns: 1fr;
	}

	.spinner {
		width: 90px;
		margin-left: 120px;
	}
}
